@font-face {
  font-family: 'Digital';
  src:  url('../fonts/Digital-7.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Digital-7.woff') format('woff'),
        url('../fonts/Digital-7.ttf')  format('truetype'),
        url('../fonts/Digital-7.svg#Digital-7') format('svg');
  font-weight: normal;
  font-style: normal;
}

.aq_timer {
	display: block;
	padding: 8px 20px;
	font-family: 'Digital';
	font-size: 20px;
	text-align: center;
  box-sizing: border-box;
  height: 35px;
}
.aq_timer_span {
  display: inline-block;
  width: 50px;
}
